:root {
    --cf-dark: #212121;
    --cf-light: #ebebeb;
    --cf-darkblue: #00223d;
    --cf-highlight: #fae100;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("/img/LandingPage_576.png");
    background-color: var(--cf-darkblue);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: var(--cf-light);
}


/* QUESTION ABOUT IDENTIFYING CLASS OF BOOTSTRAP VARIABLE TO CHANGE */
/* #region override bootstrap nav */
.bg-dark {
    --bs-bg-opacity: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--cf-light);
}

.navbar-dark .navbar-brand {
    color: var(--cf-light);
}

.navbar-dark .navbar-nav .nav-link.active{
    color: var(--cf-light);
}
/* #endregion override bootstrap nav */

.content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 1.5rem;
}

.main-title {
    font-family: 'Racing Sans One', sans-serif;
    font-size: 2.5rem;
    line-height: 2rem;
}


.subtitle {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    margin-bottom: 1rem;
    font-size: .9rem;
    line-height: 1.1rem;
    letter-spacing: .09rem;
}

.footer {
    flex-shrink: 0;
}

/* QUESTION ABOUT CASSCADING IN MEDIA QUERIES - IS THAT A THING */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    body {
        background-image: url(/img/LandingPage_768.png);
        background-position: 69% 50%;
    }
    .content {
        justify-content: center;
    }

    .main-title {
        font-size: 2.4rem;
        line-height: 2rem;
    }

    .subtitle {
        font-weight: 300;
        margin-bottom: 1rem;
        font-size: .85rem;
        line-height: 1.1rem;
        letter-spacing: .09rem;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        background-image: url("/img/LandingPage_992.png");
        
    }
    .main-title {
        font-size: 3.2rem;
        line-height: 2.4rem;
    }
    .subtitle {
        font-weight: 300;
        margin-bottom: 1rem;
        font-size: 1.1rem;
        line-height: 1.4rem;
        letter-spacing: .12rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        background-image: url("/img/LandingPage_1200.png");
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
        background-image: url("/img/LandingPage_1400.png");
    }
    .content {
        justify-content: center;
    }
    .main-title {
        font-size: 4.5rem;
        line-height: 3.5rem;
    }
    .subtitle {
        font-weight: 300;
        margin-bottom: 1rem;
        font-size: 1.6rem;
        line-height: 1.6rem;
        letter-spacing: .16rem;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    body {
        background-image: url("/img/LandingPage_1920.png");
    }
    .main-title {
        font-size: 5rem;
        line-height: 3.75rem;
    }
    .subtitle {
        margin-bottom: 1rem;
        font-size: 1.75rem;
        line-height: 2rem;
        letter-spacing: .19rem;
    }

}